doctype html 
html 
meta(charset="UTF-8")
title Matin's Contact me Page
script.
  
  function myTask() {
          let newLi = document.createElement("li");
          newLi.innerText="In order to best address your concern, please make sure to list the specific way in which I have wronged you.";
          document.getElementById("output").appendChild(newLi);
    }
  
script(async, defer, src="resources/js/myContacts.js")
script(async, defer, src="resources/js/contactMe.js")
link(rel="stylesheet", href="resources/css/todo.css")
body
//- table#tablecontainer
//-       thread
//-         tr#odd
//-         th title 
//-       tbody 
//-         each checkin in tasks
//-           tr
//-           td= checkin.title  
//- #wholeBox
//-   h2
//-     br
//-     br
//-     | Delete Task
//-     br
//-   p
//-     | Required fields are makrked with 
//-     span#redstar *
//-     br
//-   form(action="/delete", method="POST")
//-     div
//-       label(for="postTitle")
//-         | Title: 
//-         span#redstar *
//-         br
//-       input#postTitle(type="text", name="title", required)
//-     div
//-     input(type="submit", value="Delete")
header
  h1 Delete Task
#mainBody
  #leftSide
    ul#exampleList
       include navigation.pug
  #content
    table#tablecontainer
      thread
        tr#even
        th title:
      tbody 
        each checkin in tasks
          tr
          td= checkin.title 
    #wholeBox
      h2
        br
        br
        | Delete Task
        br
      p
        | Required fields are makrked with 
        span#redstar *
        br
      form(action="/delete", method="POST")
        div
          label(for="postTitle")
            | Title: 
            span#redstar *
            br
          input#postTitle(type="text", name="title", required)
        div
        input(type="submit", value="Delete")