doctype html
html
head
  meta(charset='UTF-8')
  title Hoemwork one about me
link(rel='stylesheet' href='resources/css/myStyle.css')
header#pageheader
  include navigation.pug
div
  h1 Matin Horri
img#myimage(src='resources/images/Matin.jpg' alt="Matin\'s Picture")
#flx
  #about
    h2 About Me 
    p
      | My name is 
      strong Matin Horri
      | , and my major is computer science in the university of minnesota(twin cities). This semester 
      |         i have 10 credits which are Interent Programming(CSCI 4131), User Interface(CSCI 5115), and Introduction to operating system(CSCI 4061).
      br
    p
      | Last summer i found an interenship in the 
      i Thomson Reuters
      | , and i worked 40 hours per week during summer for my interenship, and i&apos;ll work as a 
      |     part time Employee during the school year(20 hours per week). My job in the 
      em Thomson Reuters
      |  is running tests for codes, and try to debug errors. The computers&apos;s language that i work in my work is 
      b Java Script
      | .
      br
    p
      | My favorite sports are soccer, vollyball and basketball. i play soccer and vollyball twicea a week. also, i reall like cooking, and once a week i cook, usually over the weekends.
  #hobbies
    h2  Hobbies: 
    ul
      li Playing soccer
      li Paddle boarding
      li Reading books
      li Cooking