doctype html
head
  meta(charset='UTF-8')
  title Hoemwork navigationbar
link(rel='stylesheet' href='resources/css/myStyle.css')
link(rel='stylesheet' href='resources/css/todo.css')
block nav
  #boxtwo
    a(href="/myContacts") Contacts
  #boxthree
    a(href="/myWidgets") Widgets
  #boxtwo
    a(href="/myAboutMe") About ME
  #boxthree
    a(href="/contactMe") contactMe
  #boxtwo
    a(href="/login") login
  #boxthree 
    a(href="/todo") Main Page
  #boxtwo 
    a(href="/add") new task?
  #boxthree 
    a(href="/delete") delete task?
  #boxtwo 
    a(href="/done") done tasks?
  #boxthree 
    a(href="/notdone") not done tasks
  #boxtwo 
    a(href="/changedone") Change to done
  #boxthree 
    a(href="/changeundone") Change to Not done
